################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
~*.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
deploy/
packages/
# Visual Studio 2015/2017 cache/options directory
.vs/
.cr/
gitversion.json

#Project specific
BuildTime.txt
FodyWeavers.xsd
GitVersion_WixVersion.wxi
WeldingQualifier-Setup-*.exe
WeldingQualifier-Setup-*.msi